html {
  background-image: url(/images/background-blurred.jpg);
  background-size: 100% 100%;
}

body {
  
}

.case-selector {
  display: block;
  height: 5%;
  margin-top: 3%;
  position: relative;
}

.case-selector .background {
  background-color: white;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
}

.case-selector ul,li { margin: 0; padding: 0;}
.case-selector li {
  list-style: none;
  font-size: 1.5vw;
  padding-top: 0.25vw;
  float: left;
}

.editor {
  background-color: white;
  opacity: 0.75;
  position: relative;
}
.editors  {
  width: 100%;
  height: 100%;

}
.editors .column {
  width: 48%;
  float: left;
  display: inline-block;
  height: 100%;
  padding-right: 1%;
  padding-left: 1%;
}

.arrow:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow.left:after {
  right: 100%;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 20px;
  top: 30px;
  margin-top: -20px;
}

.arrow.bottom:after {
  top: 100%;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 20px;
  left: 30px;
  margin-left: -20px;
}



.editor.source { height: 73%; margin-top: 3%; }
.editor.setup { height: 66%; margin-top: 3%; }
.editor.result, .editor.verification { height: 22%; margin-top: 3%; }


.CodeMirror {
  background: none;
  font-family: Consolas, Courier;
  font-size: 22px;
  margin-bottom: 10px;
  width: 100%;
}

.editor.verification .stateBar {
  position: absolute;
  top: 0;
  height: 5px;
  width: 100%;
  background-color: orange;
  z-index: 2;
}

.editor.verification .stateBar.pass {
  background-color: green !important;
}

.editor.verification .stateBar.fail {
  background-color: red !important;
}

