<html>
<head>
  <script src="vendor/underscore-1.5.1.js"></script>
  <script src="vendor/knockout-2.3.0.debug.js"></script>
  <script src="binding-handlers/code-mirror.js"></script>
  <script src="vendor/codemirror-3.14/lib/codemirror.js"></script>
  <link rel="stylesheet" href="vendor/normalize.css">
  <link rel="stylesheet" href="vendor/codemirror-3.14/lib/codemirror.css">
  <script src="vendor/codemirror-3.14/mode/javascript/javascript.js"></script>
  <script src="viewmodels/code-mirror.js"></script>
  <script src="viewmodels/case.js"></script>
  <script src="sandbox/facade.js"></script>
  <script src="viewmodels/main.js"></script>
 <link rel="stylesheet" href="style/main.css">
</head>
<body>

  <div 
    id="notification" 
    data-bind="
      text: notification.text, 
      visible: notification.visible,
      css: notification.class">
  </div>
  <div class="editors">
    <div class="column">
      <div class="editor source arrow bottom">
        <textarea data-bind="codeMirror: codeMirror"></textarea>    
      </div>
      <!-- ko if: activeCase() -->
        <div class="editor result">
          <textarea data-bind="codeMirror: activeCase().codeMirrorResult"></textarea>
        </div>
      <!-- /ko -->
    </div>
    <div class="column">
      <!-- ko if: activeCase() -->
        <div class="editor setup arrow left">
          <textarea data-bind="codeMirror: activeCase().codeMirrorSetup"></textarea>
        </div>
      <!-- /ko -->
      <!-- ko if: activeCase() -->
        <div class="editor verification arrow left">
          <div class="stateBar" data-bind="css: activeCase().verificationClass"></div>
          <textarea data-bind="codeMirror: activeCase().codeMirrorVerification"></textarea>
        </div>
      <!-- /ko -->
    </div>
  </div>
  <script>
    var viewModel = ZeroHive.mainViewModel();
    ko.applyBindings(viewModel);
  </script>
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>

</html>
